<!DOCTYPE html>
<html lang="en">

    <head>
        <!-- Required meta tags always come first -->

        <title>Top items</title>

        <!-- CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <style>
            .custom-link {
                color: white !important;
            }

            .custom-button {
                color: #6f551c !important;
                border-color: white !important;
            };

            .custom-link-disabled {
                color: green !important;
            };
        </style>
    </head>

    <body>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #117a8b; display:none;">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle custom-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Brand
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Honda</a>
                                <a class="dropdown-item" href="#">Toyota</a>
                                <a class="dropdown-item" href="#">Suziki</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle custom-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Model
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">City</a>
                                <a class="dropdown-item" href="#">Civic</a>
                                <a class="dropdown-item" href="#">Vezel</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle custom-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Year
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">2017</a>
                                <a class="dropdown-item" href="#">2018</a>
                                <a class="dropdown-item" href="#">2019</a>
                            </div>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="HSN" aria-label="Search">
                        <input class="form-control mr-sm-2" type="search" placeholder="TSN" aria-label="Search">
                        <button class=" btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
            </nav>
            <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #117a8b;">
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle custom-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Brand
                                </a>
                                <div class="dropdown-menu" style="background-color: #a1c21e" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" style="color: #6f551c" href="#">Honda</a>
                                    <a class="dropdown-item" style="color: #6f551c" href="#">Toyota</a>
                                    <a class="dropdown-item" style="color: #6f551c" href="#">Suziki</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle custom-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Model
                                </a>
                                <div class="dropdown-menu" style="background-color: #a1c21e" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" style="color: #6f551c" href="#">City</a>
                                    <a class="dropdown-item" style="color: #6f551c" href="#">Civic</a>
                                    <a class="dropdown-item" style="color: #6f551c" href="#">Vezel</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle custom-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Year
                                </a>
                                <div class="dropdown-menu" style="background-color: #a1c21e" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" style="color: #6f551c" href="#">2017</a>
                                    <a class="dropdown-item" style="color: #6f551c" href="#">2018</a>
                                    <a class="dropdown-item" style="color: #6f551c" href="#">2019</a>
                                </div>
                            </li>
                        </ul>
                        <form class="form-inline my-2 my-lg-0">
                            <input class="form-control mr-sm-2" type="search" placeholder="HSN" aria-label="Search">
                            <input class="form-control mr-sm-2" type="search" placeholder="TSN" aria-label="Search">
                            <button class=" btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
                        </form>
                    </div>
                </nav>
        </div>
    </body>
</html>